@import '~antd/dist/antd.css';

:root {
  --FIRST_COLOR: #00a19c;
  --SECOND_COLOR: #ffffff;
  --THIRD_COLOR: #058e89;
  --BLACK_COLOR: #000000;
  --RED_COLOR: #ff0000;
}

tr.info-row {
  background-color: #e6f7ff;
  color: #000000;
}

tr.success-row {
  background-color: #f6ffed;
  color: #000000;
}

tr.warning-row {
  background-color: #fffbe6;
  color: #000000;
}

tr.error-row {
  background-color: #fff1f0;
  color: #000000;
}
.ant-menu-item {
  background-color: var(--FIRST_COLOR);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 32px;
}
.ant-menu-inline .ant-menu-item {
  margin-top: 0px;
  margin-bottom: 0px;
}
.ant-menu-item-active {
  background-color: var(--FIRST_COLOR) !important;
}

.ant-menu-item-selected {
  background-color: var(--FIRST_COLOR) !important;
}
.ant-menu-sub {
  background-color: var(--FIRST_COLOR) !important;
}
::selection {
  background-color: var(--FIRST_COLOR);
}
.ant-layout-header {
  padding: 0 14px;
}

.anticon-menu {
  color: white;
}

.ant-menu-vertical {
  border-right: 0px;
}
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active {
  color: white;
}
.ant-menu-inline {
  border-right: 0px;
}
